Repository chainwayxyz/clementine, pull requests merged in 2025-07, with the labels that each got.

#916 Bump Risc0 to v2.2.0
  Cargo.lock
  Cargo.toml
  bridge-circuit-host/Cargo.toml
  bridge-circuit-host/bin-files/bch_params_varying_total_works.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works_insufficient_total_work.bin
  circuits-lib/src/bridge_circuit/constants.rs
  circuits-lib/src/common/constants.rs
  core/Cargo.toml
  core/src/config/protocol.rs
  core/src/test/data/deposit_state_debug.bincode
  core/src/test/data/deposit_state_release.bincode
  risc0-circuits/bridge-circuit/Cargo.lock
  risc0-circuits/bridge-circuit/Cargo.toml
  risc0-circuits/bridge-circuit/guest/Cargo.lock
  risc0-circuits/elfs/mainnet-bridge-circuit-guest.bin
  risc0-circuits/elfs/mainnet-header-chain-guest.bin
  risc0-circuits/elfs/mainnet-work-only-guest.bin
  risc0-circuits/elfs/regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/regtest-header-chain-guest.bin
  risc0-circuits/elfs/regtest-work-only-guest.bin
  risc0-circuits/elfs/signet-bridge-circuit-guest.bin
  risc0-circuits/elfs/signet-header-chain-guest.bin
  risc0-circuits/elfs/signet-work-only-guest.bin
  risc0-circuits/elfs/test-regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-header-chain-guest.bin
  risc0-circuits/elfs/testnet4-work-only-guest.bin
  risc0-circuits/header-chain/Cargo.lock
  risc0-circuits/header-chain/Cargo.toml
  risc0-circuits/header-chain/guest/Cargo.lock
  risc0-circuits/work-only/Cargo.lock
  risc0-circuits/work-only/Cargo.toml
  risc0-circuits/work-only/guest/Cargo.lock
Labels: F-deposit-replace-needed

#914 Implement metrics publishing tasks (Aggregated, Self Entity Status)
  .cargo/config.toml
  .env.example
  Cargo.lock
  Cargo.toml
  README.md
  core/Cargo.toml
  core/src/aggregator.rs
  core/src/bin/cli.rs
  core/src/bitvm_client.rs
  core/src/builder/sighash.rs
  core/src/builder/transaction/mod.rs
  core/src/cli.rs
  core/src/config/env.rs
  core/src/config/mod.rs
  core/src/database/bitcoin_syncer.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/metrics.rs
  core/src/operator.rs
  core/src/rpc/aggregator.rs
  core/src/rpc/clementine.proto
  core/src/rpc/clementine.rs
  core/src/rpc/mod.rs
  core/src/servers.rs
  core/src/states/context.rs
  core/src/task/aggregator_metric_publisher.rs
  core/src/task/entity_metric_publisher.rs
  core/src/task/manager.rs
  core/src/task/mod.rs
  core/src/task/sync_status.rs
  core/src/task/tests.rs
  core/src/test/common/setup_utils.rs
  core/src/test/data/bridge_config.toml
  core/src/test/data/deposit_state_debug.bincode
  core/src/test/data/deposit_state_release.bincode
  core/src/tx_sender/client.rs
  core/src/utils.rs
  core/src/verifier.rs
  scripts/docker/docker_config.toml
  scripts/run.sh
Labels: T-enhancement, P-medium, F-deposit-replace-needed

#893 Disable withdrawal on no-automation - need reviews
  bridge-circuit-host/src/structs.rs
  circuits-lib/src/bridge_circuit/mod.rs
  core/src/bin/cli.rs
  core/src/database/verifier.rs
  core/src/operator.rs
  core/src/rpc/aggregator.rs
  core/src/rpc/clementine.proto
  core/src/rpc/clementine.rs
  core/src/rpc/operator.rs
  core/src/test/additional_disprove_scripts.rs
  core/src/test/bitvm_disprove_scripts.rs
  core/src/test/bridge_circuit_test_data.rs
  core/src/test/deposit_and_withdraw_e2e.rs
  core/src/test/watchtower_challenge.rs
  core/src/tx_sender/client.rs
  core/src/verifier.rs
Labels: P-high

#872 Task status monitoring and restart
  .cargo/config.toml
  .env.example
  Cargo.lock
  Cargo.toml
  README.md
  core/Cargo.toml
  core/src/aggregator.rs
  core/src/bin/cli.rs
  core/src/bitcoin_syncer.rs
  core/src/bitvm_client.rs
  core/src/builder/sighash.rs
  core/src/builder/transaction/mod.rs
  core/src/cli.rs
  core/src/config/env.rs
  core/src/config/mod.rs
  core/src/constants.rs
  core/src/database/bitcoin_syncer.rs
  core/src/header_chain_prover.rs
  core/src/lib.rs
  core/src/main.rs
  core/src/metrics.rs
  core/src/operator.rs
  core/src/rpc/aggregator.rs
  core/src/rpc/clementine.proto
  core/src/rpc/clementine.rs
  core/src/rpc/mod.rs
  core/src/rpc/operator.rs
  core/src/rpc/verifier.rs
  core/src/servers.rs
  core/src/states/context.rs
  core/src/states/task.rs
  core/src/task/aggregator_metric_publisher.rs
  core/src/task/entity_metric_publisher.rs
  core/src/task/manager.rs
  core/src/task/mod.rs
  core/src/task/payout_checker.rs
  core/src/task/status_monitor.rs
  core/src/task/tests.rs
  core/src/test/common/setup_utils.rs
  core/src/test/data/bridge_config.toml
  core/src/test/data/deposit_state_debug.bincode
  core/src/test/data/deposit_state_release.bincode
  core/src/tx_sender/client.rs
  core/src/tx_sender/task.rs
  core/src/utils.rs
  core/src/verifier.rs
  scripts/docker/docker_config.toml
  scripts/run.sh
Labels: P-high, F-deposit-replace-needed

#892 Add data tests for watchtower challenges with various challenge txs
  Cargo.lock
  bridge-circuit-host/Cargo.toml
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_annex.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_annex.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_annex_and_output.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_output.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works_first_two_valid.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works_insufficient_total_work.bin
  bridge-circuit-host/bin-files/challenge_tx_with_annex.bin
  bridge-circuit-host/bin-files/challenge_tx_with_annex_hcp_receipt.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_input.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_input_and_output.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_input_and_output_hcp_receipt.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_input_hcp_receipt.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_output.bin
  bridge-circuit-host/bin-files/challenge_tx_with_large_output_hcp_receipt.bin
  bridge-circuit-host/src/bridge_circuit_host.rs
  circuits-lib/src/bridge_circuit/constants.rs
  circuits-lib/src/bridge_circuit/lc_proof.rs
  circuits-lib/src/bridge_circuit/merkle_tree.rs
  circuits-lib/src/bridge_circuit/mod.rs
  circuits-lib/src/bridge_circuit/structs.rs
  circuits-lib/src/common/constants.rs
  circuits-lib/test_data/lcp_receipt.bin
  core/src/builder/transaction/challenge.rs
  core/src/builder/transaction/sign.rs
  core/src/config/protocol.rs
  core/src/config/test.rs
  core/src/database/tx_sender.rs
  core/src/operator.rs
  core/src/rpc/parser/mod.rs
  core/src/test/bridge_circuit_test_data.rs
  core/src/test/data/deposit_state_debug.bincode
  core/src/test/data/deposit_state_release.bincode
  core/src/test/mod.rs
  core/src/test/watchtower_challenge.rs
  core/src/tx_sender/rbf.rs
  core/src/utils.rs
  core/src/verifier.rs
  risc0-circuits/README.md
  risc0-circuits/bridge-circuit/Cargo.lock
  risc0-circuits/bridge-circuit/guest/Cargo.lock
  risc0-circuits/elfs/mainnet-bridge-circuit-guest.bin
  risc0-circuits/elfs/mainnet-header-chain-guest.bin
  risc0-circuits/elfs/mainnet-work-only-guest.bin
  risc0-circuits/elfs/regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/regtest-header-chain-guest.bin
  risc0-circuits/elfs/regtest-work-only-guest.bin
  risc0-circuits/elfs/signet-bridge-circuit-guest.bin
  risc0-circuits/elfs/signet-header-chain-guest.bin
  risc0-circuits/elfs/signet-work-only-guest.bin
  risc0-circuits/elfs/test-regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-header-chain-guest.bin
  risc0-circuits/elfs/testnet4-work-only-guest.bin
  risc0-circuits/header-chain/Cargo.lock
  risc0-circuits/header-chain/guest/Cargo.lock
  risc0-circuits/work-only/Cargo.lock
  risc0-circuits/work-only/guest/Cargo.lock
Labels: F-deposit-replace-needed

#942 Update Risc0 and Citrea Versions
  Cargo.lock
  Cargo.toml
  bridge-circuit-host/src/bridge_circuit_host.rs
  bridge-circuit-host/src/utils.rs
  core/src/bitvm_client.rs
  core/src/header_chain_prover.rs
  core/src/operator.rs
  risc0-circuits/bridge-circuit/Cargo.toml
  risc0-circuits/header-chain/Cargo.toml
  risc0-circuits/work-only/Cargo.toml
Labels: F-deposit-replace-needed

#981 Update Citrea Versions
  Cargo.lock
  Cargo.toml
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_annex.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_annex.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_annex_and_output.bin
  bridge-circuit-host/bin-files/bch_params_challenge_tx_with_large_output.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works_first_two_valid.bin
  bridge-circuit-host/bin-files/bch_params_varying_total_works_insufficient_total_work.bin
  circuits-lib/src/bridge_circuit/constants.rs
  circuits-lib/src/common/constants.rs
  core/src/config/protocol.rs
  core/src/test/additional_disprove_scripts.rs
  core/src/test/bitvm_disprove_scripts.rs
  core/src/test/bridge_circuit_test_data.rs
  core/src/test/data/deposit_state_debug.bincode
  core/src/test/data/deposit_state_release.bincode
  core/src/test/deposit_and_withdraw_e2e.rs
  core/src/test/withdraw.rs
  risc0-circuits/bridge-circuit/guest/Cargo.lock
  risc0-circuits/elfs/mainnet-bridge-circuit-guest.bin
  risc0-circuits/elfs/mainnet-header-chain-guest.bin
  risc0-circuits/elfs/mainnet-work-only-guest.bin
  risc0-circuits/elfs/regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/regtest-header-chain-guest.bin
  risc0-circuits/elfs/regtest-work-only-guest.bin
  risc0-circuits/elfs/signet-bridge-circuit-guest.bin
  risc0-circuits/elfs/signet-header-chain-guest.bin
  risc0-circuits/elfs/signet-work-only-guest.bin
  risc0-circuits/elfs/test-regtest-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-bridge-circuit-guest.bin
  risc0-circuits/elfs/testnet4-header-chain-guest.bin
  risc0-circuits/elfs/testnet4-work-only-guest.bin
  risc0-circuits/header-chain/guest/Cargo.lock
  risc0-circuits/work-only/guest/Cargo.lock
Labels: F-deposit-replace-needed

#975 Attempt to get verifier/operator keys only when needed
  core/src/aggregator.rs
  core/src/constants.rs
  core/src/rpc/aggregator.rs
  core/src/rpc/mod.rs
  core/src/rpc/parser/operator.rs
Labels: P-high
